<br>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
      <%= f.label :name, 'Your name:' %>
      <br>
      <%= f.text_field :name %>
      <br>
      <%= f.label :phone, 'Your phone:' %>     
      <br>
      <%= f.telephone_field :phone %>
      <br>
      <%= f.label :email, 'Your email:' %>
      <br>
      <%= f.email_field :email %>      
      <br>
      <br>
      <%= f.label :address, 'Your address/location:' %>
      <br>
      <%= f.text_field :address%>
      <br>
      <br>
      <%= f.label :time, 'Time:' %>
      <br>
      <%= f.time_field :time%>
      <br>
      <br>
      <br>
</p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
