<br>
<div class="col-md-12">
<%= form_for(@user, html: {role: "form"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.text_field :name, size: "20x15",  class: "form-control", placeholder: "Name" %>
    </div>
    <div class="form-group">
      <%= f.time_field :time, size: "16x12", class: "form-control", placeholder: "Time"  %>
    </div>
    <div class="form-group">
      <%= f.telephone_field :phone, size: "20x12", class: "form-control", placeholder: "Telephone"  %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.email_field :email, size: "20x15",  class: "form-control", placeholder: "Email"  %>
    </div>
    <div class="form-group">
      <%= time_zone_select( "user", "time_zone", ActiveSupport::TimeZone.us_zones, {}, {class: "form-control", default: "Eastern Time (US & Canada)"}  ) %>
    </div>

    <div class="form-group">
      <%= f.text_field :address, size: "20x12", class: "form-control", placeholder: "Address"  %>
    </div>
  </div>
    <div class="actions">
      <%= f.submit class: "btn btn-default col-md-12" %>
    </div>
<% end %>
</div>