<br>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name, size: "20x15", placeholder: "Name" %>
    <%= f.email_field :email, size: "20x15", placeholder: "Email"  %>
    <br><br><br><br><br><br><br><br><br>
    <%= f.time_field :time, size: "16x12", placeholder: "Time"  %>
    <br>
    <br>
    <%= time_zone_select( "user", "time_zone", ActiveSupport::TimeZone.us_zones, default: "Eastern Time (US & Canada)" ) %>
    <br><br>
    <%= f.telephone_field :phone, size: "20x12", placeholder: "Telephone"  %>
    <%= f.text_field :address, size: "20x12", placeholder: "Address"  %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
