<p id="notice"><%= notice %></p>


<p class="container">
		
		<h2 class="now" id="icon"><%= @user.currently.icon %></h2>
		<h1 class="now" id="temperature"><%= @user.currently.temperature %> &deg;F</h1>
	  <h4 class="now" id="summary"><%= @user.currently.summary %></h4>
	  <h4 class="now" id="address"><%= @user.address %></h4>

	  <h2 class="hourly" id="hourly_icon"><%= @user.hourly_icon %></h2>
		<h1 class="hourly" id="hourly_temperature"><%= @user.hourly.temperature %> &deg;F</h1>
	  <h4 class="hourly" id="hourly_summary"><%= @user.hourly_summary %></h4>
	  <h4 class="hourly" id="hourly_address"><%= @user.address %></h4>

	  <h2 class="daily" id="daily_icon"><%= @user.daily_icon %></h2>
		<h1 class="daily" id="daily_temperature"><%= @user.forecast.daily.data[0].temperatureMin %> &deg;F - <%= @user.forecast.daily.data[0].temperatureMax %> &deg;F </h1>
	  <h4 class="daily" id="daily_summary"><%= @user.daily_summary %></h4>
	  <h4 class="daily" id="daily_address"><%= @user.address %></h4>
</p>

<div>
  <!--# <%= @user.name %> -->
  <br>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="time">
	<button type="button" class="btn btn-default btn-lg" id="now"> now </button>
	<button type="button" class="btn btn-default btn-lg" id="today">today</button>
	<button type="button" class="btn btn-default btn-lg" id="week">week</button>
</div>


<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


