<p id="notice"><%= notice %></p>


<div class="container">
	<div id="show">
		<h2 id="icon"><%= @user.currently.icon %></h2>
		<h1 id="temperature"><%= @user.currently.temperature %> &deg;F</h1>
	  <h2 id="summary"><%= @user.currently.summary %></h2>
	  <h4 id="address"><%= @user.address %></h4>

	  <h2 id="hourly_icon"><%= @user.hourly_icon %></h2>
		<h1 id="hourly_temperature"><%= @user.hourly.temperature %> &deg;F</h1>
	  <h2 id="hourly_summary"><%= @user.hourly_summary %></h2>
	  <h4 id="hourly_address"><%= @user.address %></h4>

	  <h2 id="daily_icon"><%= @user.daily_icon %></h2>
		<h1 id="daily_temperature"><%= @user.forecast.daily.data[0].temperatureMin %> &deg;F - <%= @user.forecast.daily.data[0].temperatureMax %> &deg;F </h1>
	  <h2 id="daily_summary"><%= @user.daily_summary %></h2>
	  <h4 id="daily_address"><%= @user.address %></h4>
	</div>
</div>

<div>
  <%= @user.name %>
  <br>
</div>

<div id="time">
	<button id="now">now</button>
	<button id="today">today</button>
	<button id="week">week</button>
</div>


<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


