<p id="notice"><%= notice %></p>

<div class="container" id="show">
  <h2 id="summary"><%= @user.currently.summary %></h2>
  <h2 id="temperature"><%= @user.currently.temperature %> &deg;F</h2>
  <h2 id="address"><%= @user.address %></h2>
</div>


<div>
  <%= @user.name %>
  <br>
</div>

<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


