<!DOCTYPE html>
<html>
<head>
  <title>WeatherApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <style type="text/css">.btn {
  border-color: white;
  background: transparent;
  color: white;
}</style>
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

</head>
<body class="container center-block col-lg-6 text-center " style="float: none;">

<div class="nav pull-left">

</div>

<div class="nav pull-right">
  <a href="/users/sign_up">Log In</a>
</div>

<%= yield %>

  </div>
</div>
<br>
<footer class="footer" style="padding-top:10px;"><h6>Made with ♥ by Ashley Blewer, Kyle Doherty, && Luke Demarest @FlatironSchool</h6></footer>
</body>

</html>