<!DOCTYPE html>
<html>
<head>
  <title>Need an Umbrella?</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <style type="text/css">.btn {
  border-color: white;
  background: transparent;
  color: white;
}</style>
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<body class="container center-block col-lg-6 text-center " style="float: none;">

<div class="nav pull-left">

</div>

<div class="nav pull-right">
  <a href="/users/sign_up">Log In</a>
</div>

<%= yield %>

  </div>
</div>
<br>
<div class="footer wrap">Made with ♥ by <a href="https://github.com/ablwr">Ashley Blewer</a>, <a href="https://github.com/kylefdoherty">Kyle Doherty</a>, && <a href="https://github.com/ldemarest">Luke Demarest</a> <a href="http://flatironschool.com">@FlatironSchool</a></div>
</body>

</html>