<!DOCTYPE html>
<html>
<head>
  <title>WeatherApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>

  <link href='http://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'>

</head>
<body class="container center-block">
<div class="row center-block">
  <div class="col-md-6 col-md-offset-3">
<%= yield %>

  </div>
</div>
</body>

</html>